.card-active:hover,
.card-active:focus {
  background-color: rgba(255, 255, 255, 75.07%);
  background-image: unset;
}

.card-active:focus {
  outline: 5px solid black;
  outline-offset: -5px;
}

.card-active:hover h3,
.card-active:focus h3 {
  color: #000;
}
