/*****************************************
  Hamburger bar
*****************************************/
.hamburger::before,
.hamburger::after {
  content: '';
  display: inline-block;
  background-color: white;
  width: 1.25rem;
  height: 0.125rem;
  border-radius: 1rem;
  transition: all 400ms;
  position: absolute;
  left: 0;
}

.hamburger::before {
  top: 3px;
}

.hamburger::after {
  bottom: 3px;
}

.flip.hamburger::before {
  top: 7px;
  transform: rotate(-225deg);
}

.flip.hamburger::after {
  bottom: 7px;
  transform: rotate(-315deg);
}

/*****************************************
  Nav item underline effect
*****************************************/
.custom-underline:hover::after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
}

@media (min-width: 768px) {
  .custom-underline:hover::after {
    margin-inline: auto;
    right: 0;
    width: 24px;
  }
}

/*****************************************
  Animations
*****************************************/
@keyframes slide-in {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100vw);
  }
}

.slide-in {
  animation: slide-in 400ms forwards;
}

.slide-out {
  animation: slide-out 400ms forwards;
}
