@tailwind base;
@tailwind components;
@tailwind utilities;

/* font-family: 'Alata', sans-serif; */
/* font-family: 'Josefin Sans', sans-serif; */

/*****************************************
  Reset and Scrollbar
*****************************************/
*,
*::after,
*::before {
  box-sizing: border-box;

  /* firefox support */
  scrollbar-color: #000 #fafafa;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: #fafafa;
}

::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 100vw;
  border: 0.25rem solid #fafafa;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.85);
}

/*****************************************
  Base Styles
*****************************************/
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.body {
  font-size: 0.9375rem;
  line-height: 1.5625rem;
}

.container {
  margin-inline: auto;
  width: min(100% - 3rem, 689px);
}

@media (min-width: 1440px) {
  .body {
    font-size: 1rem;
    line-height: 1.625rem;
  }

  .container {
    width: 1110px;
  }
}
